type project
id ProtoBuf.FSharpHelpers
version 0.0.1
authors mvkra
description Allows F# types to work with protobuf-net
projectUrl https://github.com/mvkra/protobuf-net-fsharp
tags protobuf protobuf-net fsharp f#
include-pdbs true
